<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>HelloServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>searchservlet</servlet-name>
    <servlet-class>com.helloservlet.hello.searchservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchservlet</servlet-name>
    <url-pattern>/servle/searchservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>resultservlet</servlet-name>
    <servlet-class>com.helloservlet.hello.resultservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resultservlet</servlet-name>
    <url-pattern>/servle/resultservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>result2servlet</servlet-name>
    <servlet-class>com.helloservlet.hello.result2servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>result2servlet</servlet-name>
    <url-pattern>/servlet/result2servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>com.helloservlet.hello.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/servlet/helloWorld</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <res-ref-name>jdbc/rgs</res-ref-name>
    <res-type>javax.sql.DataSorce</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
</web-app>